body {
    font-family: georgia;
     box-sizing: border-box;
}

nav {
    
    display: flex;
    flex-direction: column;
    
    text-align: center;
    font-size: 24px;
    padding: .5em;
    margin: 1em;
    word-spacing: .5em;
    margin-bottom: 4em;
  
        
}

nav a {
  
    color: black; 
    
    margin-top: .5em;
    
    text-decoration: underline 2.5px goldenrod;
    
    border-color: darkgoldenrod;


}




main, header, footer, section, article {
    
    text-align: center;
}

figure { 
}


h3 {
    font-style: italic;
}

h4 {
    
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: lighter;
}



li {
    list-style: disc;
    margin-bottom: .5rem;
}

aside a {
    color: red;
    margin: 3em;
    font-weight: bolder;
    text-decoration: none;
    font-style: italic;
}



footer  {
    width: 100%;
    margin-top: 5rem;
    display: inline-block;
}