body {
    font-family: georgia;
}

nav {
    text-align: center;
    font-size: 25px;
    padding: 1em;
    margin: 1em;
    word-spacing: .5em;
    border-bottom: solid 5px;
    border-bottom-color: black;
        
}

a, li {
    text-decoration: none;
    list-style: none;
}

main, header, footer, section {
    
    text-align: center;
}

h3 {
    font-style: italic;
}

h4 {
    
    font-size: 1.5rem;
    text-decoration: underline;
}

li {
    list-style: disc;
    margin-bottom: .5rem;
    
}